<a href="https://colab.research.google.com/github/JScottLopez/github-ds/blob/master/TIM_6500_JSLopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analyzing Conditions Related to COVID-19 Deaths

By: Joseph S. Lopez

TIM-6500 v3: Princples of Data Science

August 1, 2021

In [9]:
#import necessary Python libraries
import pandas as pd

#assigned data frame to variable
df = pd.read_csv('Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age.csv')

#used include since data set contains mixed
#df.describe(include = 'all')
df.groupby('Age Group').count()

            Data As Of  Start Date  ...  Number of Mentions   Flag
Age Group                           ...
0-24             27324       27324  ...               23624   3760
25-34            27324       27324  ...               20986   6443
35-44            27324       27324  ...               18985   8536
45-54            27324       27324  ...               17496  10092
55-64            27324       27324  ...               17526  10081
65-74            27324       27324  ...               18195   9420
75-84            27324       27324  ...               18623   8979
85+              27324       27324  ...               18723   8898
All Ages         27324       27324  ...               21778   5819
Not stated       27324       27324  ...               27197    127

[10 rows x 13 columns]

In [10]:
#import necessary Python libraries
import pandas as pd

#assigned data frame to variable
df = pd.read_csv('Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age.csv')

#retrieve column counts and group by Age Group

total = df.iloc[:, 11:12].sum()

print(total)

#hist = df.hist()

Series([], dtype: float64)