<a href="https://colab.research.google.com/github/JScottLopez/github-ds/blob/master/TIM_6500_JSLopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analyzing Conditions Related to COVID-19 Deaths

By: Joseph S. Lopez

TIM-6500 v3: Princples of Data Science

August 1, 2021

In [269]:
#import necessary Python libraries
import pandas as pd

#assigned data frame to variable
df = pd.read_csv('Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age.csv')

#used include since data set contains mixed
df.describe(include = 'all')

        Data As Of  ...                                               Flag
count       273240  ...                                              72155
unique           1  ...                                                  1
top     07/18/2021  ...  One or more data cells have counts between 1-9...
freq        273240  ...                                              72155
mean           NaN  ...                                                NaN
std            NaN  ...                                                NaN
min            NaN  ...                                                NaN
25%            NaN  ...                                                NaN
50%            NaN  ...                                                NaN
75%            NaN  ...                                                NaN
max            NaN  ...                                                NaN

[11 rows x 14 columns]

In [270]:
#determine data types for each column
df.dtypes

Data As Of             object
Start Date             object
End Date               object
Group                  object
Year                   object
Month                 float64
State                  object
Condition Group        object
Condition              object
ICD10_codes            object
Age Group              object
COVID-19 Deaths        object
Number of Mentions     object
Flag                   object
dtype: object

In [271]:
#rename columns for later use
df.rename(columns={'Age Group': 'AgeGroup', 'COVID-19 Deaths': 'CV19_Deaths'}, inplace=True)
display(df)

        Data As Of  ...                                               Flag
0       07/18/2021  ...                                                NaN
1       07/18/2021  ...                                                NaN
2       07/18/2021  ...                                                NaN
3       07/18/2021  ...                                                NaN
4       07/18/2021  ...                                                NaN
...            ...  ...                                                ...
273235  07/18/2021  ...                                                NaN
273236  07/18/2021  ...                                                NaN
273237  07/18/2021  ...                                                NaN
273238  07/18/2021  ...                                                NaN
273239  07/18/2021  ...  One or more data cells have counts between 1-9...

[273240 rows x 14 columns]

In [272]:
#Remove commas from CV19_Deaths column
df['CV19_Deaths']=df['CV19_Deaths'].str.replace(',','')
display(df)

        Data As Of  ...                                               Flag
0       07/18/2021  ...                                                NaN
1       07/18/2021  ...                                                NaN
2       07/18/2021  ...                                                NaN
3       07/18/2021  ...                                                NaN
4       07/18/2021  ...                                                NaN
...            ...  ...                                                ...
273235  07/18/2021  ...                                                NaN
273236  07/18/2021  ...                                                NaN
273237  07/18/2021  ...                                                NaN
273238  07/18/2021  ...                                                NaN
273239  07/18/2021  ...  One or more data cells have counts between 1-9...

[273240 rows x 14 columns]

In [273]:
#Convert column type to float
df['CV19_Deaths'] = df['CV19_Deaths'].astype(float, errors = 'raise')
display(df)

        Data As Of  ...                                               Flag
0       07/18/2021  ...                                                NaN
1       07/18/2021  ...                                                NaN
2       07/18/2021  ...                                                NaN
3       07/18/2021  ...                                                NaN
4       07/18/2021  ...                                                NaN
...            ...  ...                                                ...
273235  07/18/2021  ...                                                NaN
273236  07/18/2021  ...                                                NaN
273237  07/18/2021  ...                                                NaN
273238  07/18/2021  ...                                                NaN
273239  07/18/2021  ...  One or more data cells have counts between 1-9...

[273240 rows x 14 columns]

In [274]:
#retrieve column counts and group by Age Group
df.groupby('AgeGroup').count()

            Data As Of  Start Date  ...  Number of Mentions   Flag
AgeGroup                            ...
0-24             27324       27324  ...               23624   3760
25-34            27324       27324  ...               20986   6443
35-44            27324       27324  ...               18985   8536
45-54            27324       27324  ...               17496  10092
55-64            27324       27324  ...               17526  10081
65-74            27324       27324  ...               18195   9420
75-84            27324       27324  ...               18623   8979
85+              27324       27324  ...               18723   8898
All Ages         27324       27324  ...               21778   5819
Not stated       27324       27324  ...               27197    127

[10 rows x 13 columns]

In [275]:
#drop all null values in CV19_Deaths column
df.dropna(subset = ["CV19_Deaths"], inplace=True)
display(df)

        Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
0       07/18/2021  01/01/2020  07/17/2021  ...       443.0                462   NaN
1       07/18/2021  01/01/2020  07/17/2021  ...      1999.0              2,051   NaN
2       07/18/2021  01/01/2020  07/17/2021  ...      5293.0              5,434   NaN
3       07/18/2021  01/01/2020  07/17/2021  ...     15615.0             16,079   NaN
4       07/18/2021  01/01/2020  07/17/2021  ...     39217.0             40,321   NaN
...            ...         ...         ...  ...         ...                ...   ...
273234  07/18/2021  02/01/2021  02/28/2021  ...       132.0                132   NaN
273235  07/18/2021  03/01/2021  03/31/2021  ...        69.0                 69   NaN
273236  07/18/2021  04/01/2021  04/30/2021  ...       197.0                197   NaN
273237  07/18/2021  05/01/2021  05/31/2021  ...       182.0                182   NaN
273238  07/18/2021  06/01/2021  06/30/2021  ...        27.0                 27   NaN

[201085 rows x 14 columns]

In [276]:
# check for value of 0 in CV_Deaths column and drop rows
index_names = df[df['CV19_Deaths'] == '0'].index
df.drop(index_names, inplace = True)
display(df)

        Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
0       07/18/2021  01/01/2020  07/17/2021  ...       443.0                462   NaN
1       07/18/2021  01/01/2020  07/17/2021  ...      1999.0              2,051   NaN
2       07/18/2021  01/01/2020  07/17/2021  ...      5293.0              5,434   NaN
3       07/18/2021  01/01/2020  07/17/2021  ...     15615.0             16,079   NaN
4       07/18/2021  01/01/2020  07/17/2021  ...     39217.0             40,321   NaN
...            ...         ...         ...  ...         ...                ...   ...
273234  07/18/2021  02/01/2021  02/28/2021  ...       132.0                132   NaN
273235  07/18/2021  03/01/2021  03/31/2021  ...        69.0                 69   NaN
273236  07/18/2021  04/01/2021  04/30/2021  ...       197.0                197   NaN
273237  07/18/2021  05/01/2021  05/31/2021  ...       182.0                182   NaN
273238  07/18/2021  06/01/2021  06/30/2021  ...        27.0                 27   NaN

[201085 rows x 14 columns]

In [277]:
#remove all non-relevant values from State column
df1 = df[~df.State.str.contains('District of Columbia|New York City|Puerto Rico|United States', regex=True)]
display(df1)

        Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
231     07/18/2021  01/01/2020  07/17/2021  ...        30.0                 31   NaN
232     07/18/2021  01/01/2020  07/17/2021  ...        73.0                 73   NaN
233     07/18/2021  01/01/2020  07/17/2021  ...       195.0                197   NaN
234     07/18/2021  01/01/2020  07/17/2021  ...       488.0                501   NaN
235     07/18/2021  01/01/2020  07/17/2021  ...       957.0                969   NaN
...            ...         ...         ...  ...         ...                ...   ...
268863  07/18/2021  01/01/2021  01/31/2021  ...        99.0                 99   NaN
268864  07/18/2021  02/01/2021  02/28/2021  ...        45.0                 45   NaN
268865  07/18/2021  03/01/2021  03/31/2021  ...        17.0                 17   NaN
268867  07/18/2021  05/01/2021  05/31/2021  ...        23.0                 23   NaN
268868  07/18/2021  06/01/2021  06/30/2021  ...        18.0                 18   NaN

[185133 rows x 14 columns]

In [278]:
#remove all non-relevant values from AgeGroup column
df2 = df1[~df1.AgeGroup.str.contains('Not stated|All Ages', regex=True)]
display(df2)

        Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
231     07/18/2021  01/01/2020  07/17/2021  ...        30.0                 31   NaN
232     07/18/2021  01/01/2020  07/17/2021  ...        73.0                 73   NaN
233     07/18/2021  01/01/2020  07/17/2021  ...       195.0                197   NaN
234     07/18/2021  01/01/2020  07/17/2021  ...       488.0                501   NaN
235     07/18/2021  01/01/2020  07/17/2021  ...       957.0                969   NaN
...            ...         ...         ...  ...         ...                ...   ...
268822  07/18/2021  10/01/2020  10/31/2020  ...        30.0                 30   NaN
268823  07/18/2021  11/01/2020  11/30/2020  ...        56.0                 56   NaN
268824  07/18/2021  12/01/2020  12/31/2020  ...        55.0                 55   NaN
268825  07/18/2021  01/01/2021  01/31/2021  ...        33.0                 33   NaN
268826  07/18/2021  02/01/2021  02/28/2021  ...        15.0                 15   NaN

[140054 rows x 14 columns]

In [279]:
#remove all non-relevant values from Group column
df3 = df2[~df2.Group.str.contains('By Year|By Total', regex=True)]
display(df3)

        Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
41630   07/18/2021  01/01/2020  01/31/2020  ...         0.0                  0   NaN
41631   07/18/2021  02/01/2020  02/29/2020  ...         0.0                  0   NaN
41632   07/18/2021  03/01/2020  03/31/2020  ...         0.0                  0   NaN
41633   07/18/2021  04/01/2020  04/30/2020  ...         0.0                  0   NaN
41634   07/18/2021  05/01/2020  05/31/2020  ...         0.0                  0   NaN
...            ...         ...         ...  ...         ...                ...   ...
268822  07/18/2021  10/01/2020  10/31/2020  ...        30.0                 30   NaN
268823  07/18/2021  11/01/2020  11/30/2020  ...        56.0                 56   NaN
268824  07/18/2021  12/01/2020  12/31/2020  ...        55.0                 55   NaN
268825  07/18/2021  01/01/2021  01/31/2021  ...        33.0                 33   NaN
268826  07/18/2021  02/01/2021  02/28/2021  ...        15.0                 15   NaN

[119782 rows x 14 columns]

In [280]:
df3.dtypes

Data As Of             object
Start Date             object
End Date               object
Group                  object
Year                   object
Month                 float64
State                  object
Condition Group        object
Condition              object
ICD10_codes            object
AgeGroup               object
CV19_Deaths           float64
Number of Mentions     object
Flag                   object
dtype: object

In [281]:

#import numpy as np

def outliers_iqr(data):
  q1, q3 = np.percentile(data, [25, 75])
  iqr = q3 - q1
  lower_bound = q1 - (iqr * 1.5)
  upper_bound = q3 + (iqr * 1.5)
  return np.where((data > upper_bound) | (data < lower_bound))

for i in outliers_iqr(df3.CV19_Deaths)[0] :
  print(df3[i:i+1])

Streaming output truncated to the last 5000 lines.
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59796  07/18/2021  03/01/2020  03/31/2020  ...        33.0                 34   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59797  07/18/2021  04/01/2020  04/30/2020  ...       275.0                279   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59798  07/18/2021  05/01/2020  05/31/2020  ...       231.0                233   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59799  07/18/2021  06/01/2020  06/30/2020  ...       217.0                222   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59800  07/18/2021  07/01/2020  07/31/2020  ...       412.0                420   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59801  07/18/2021  08/01/2020  08/28/2020  ...       453.0                469   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59802  07/18/2021  09/01/2020  09/30/2020  ...       211.0                216   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59803  07/18/2021  10/01/2020  10/31/2020  ...       177.0                181   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59804  07/18/2021  11/01/2020  11/30/2020  ...       339.0                345   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59805  07/18/2021  12/01/2020  12/31/2020  ...      1695.0              1,724   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59806  07/18/2021  01/01/2021  01/31/2021  ...      2650.0              2,691   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59807  07/18/2021  02/01/2021  02/28/2021  ...       976.0                994   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59808  07/18/2021  03/01/2021  03/31/2021  ...       268.0                277   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59809  07/18/2021  04/01/2021  04/30/2021  ...        80.0                 84   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59810  07/18/2021  05/01/2021  05/31/2021  ...        64.0                 67   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59811  07/18/2021  06/01/2021  06/30/2021  ...        38.0                 39   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59815  07/18/2021  03/01/2020  03/31/2020  ...        30.0                 30   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59816  07/18/2021  04/01/2020  04/30/2020  ...       307.0                314   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59817  07/18/2021  05/01/2020  05/31/2020  ...       277.0                283   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59818  07/18/2021  06/01/2020  06/30/2020  ...       219.0                221   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59819  07/18/2021  07/01/2020  07/31/2020  ...       403.0                411   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59820  07/18/2021  08/01/2020  08/28/2020  ...       399.0                402   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59821  07/18/2021  09/01/2020  09/30/2020  ...       222.0                223   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59822  07/18/2021  10/01/2020  10/31/2020  ...       163.0                165   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59823  07/18/2021  11/01/2020  11/30/2020  ...       309.0                315   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59824  07/18/2021  12/01/2020  12/31/2020  ...      1642.0              1,664   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59825  07/18/2021  01/01/2021  01/31/2021  ...      2240.0              2,259   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59826  07/18/2021  02/01/2021  02/28/2021  ...       721.0                730   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59827  07/18/2021  03/01/2021  03/31/2021  ...       158.0                164   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59828  07/18/2021  04/01/2021  04/30/2021  ...        61.0                 62   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59829  07/18/2021  05/01/2021  05/31/2021  ...        46.0                 48   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59830  07/18/2021  06/01/2021  06/30/2021  ...        35.0                 35   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59939  07/18/2021  01/01/2021  01/31/2021  ...        31.0                 31   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59957  07/18/2021  12/01/2020  12/31/2020  ...        52.0                 52   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59958  07/18/2021  01/01/2021  01/31/2021  ...        77.0                 77   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59959  07/18/2021  02/01/2021  02/28/2021  ...        36.0                 36   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59976  07/18/2021  12/01/2020  12/31/2020  ...        78.0                 78   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59977  07/18/2021  01/01/2021  01/31/2021  ...       106.0                106   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59978  07/18/2021  02/01/2021  02/28/2021  ...        41.0                 41   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59995  07/18/2021  12/01/2020  12/31/2020  ...       120.0                120   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59996  07/18/2021  01/01/2021  01/31/2021  ...       171.0                171   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59997  07/18/2021  02/01/2021  02/28/2021  ...        59.0                 59   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60006  07/18/2021  04/01/2020  04/30/2020  ...        37.0                 37   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60007  07/18/2021  05/01/2020  05/31/2020  ...        39.0                 39   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60009  07/18/2021  07/01/2020  07/31/2020  ...        41.0                 41   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60010  07/18/2021  08/01/2020  08/28/2020  ...        39.0                 39   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60011  07/18/2021  09/01/2020  09/30/2020  ...        40.0                 40   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60013  07/18/2021  11/01/2020  11/30/2020  ...        48.0                 48   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60014  07/18/2021  12/01/2020  12/31/2020  ...       136.0                136   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60015  07/18/2021  01/01/2021  01/31/2021  ...       209.0                209   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60016  07/18/2021  02/01/2021  02/28/2021  ...        60.0                 60   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60128  07/18/2021  12/01/2020  12/31/2020  ...        28.0                 29   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60129  07/18/2021  01/01/2021  01/31/2021  ...        64.0                 68   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60130  07/18/2021  02/01/2021  02/28/2021  ...        31.0                 35   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60143  07/18/2021  08/01/2020  08/28/2020  ...        28.0                 30   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60147  07/18/2021  12/01/2020  12/31/2020  ...        71.0                 73   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60148  07/18/2021  01/01/2021  01/31/2021  ...       145.0                155   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60149  07/18/2021  02/01/2021  02/28/2021  ...        78.0                 80   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60150  07/18/2021  03/01/2021  03/31/2021  ...        37.0                 39   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60161  07/18/2021  07/01/2020  07/31/2020  ...        30.0                 30   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60162  07/18/2021  08/01/2020  08/28/2020  ...        36.0                 36   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60165  07/18/2021  11/01/2020  11/30/2020  ...        26.0                 29   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60166  07/18/2021  12/01/2020  12/31/2020  ...       107.0                112   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60167  07/18/2021  01/01/2021  01/31/2021  ...       166.0                176   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60168  07/18/2021  02/01/2021  02/28/2021  ...       107.0                112   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60169  07/18/2021  03/01/2021  03/31/2021  ...        40.0                 41   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60180  07/18/2021  07/01/2020  07/31/2020  ...        30.0                 31   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60181  07/18/2021  08/01/2020  08/28/2020  ...        32.0                 33   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60182  07/18/2021  09/01/2020  09/30/2020  ...        26.0                 26   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60184  07/18/2021  11/01/2020  11/30/2020  ...        36.0                 38   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60185  07/18/2021  12/01/2020  12/31/2020  ...       121.0                123   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60186  07/18/2021  01/01/2021  01/31/2021  ...       154.0                157   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60187  07/18/2021  02/01/2021  02/28/2021  ...        81.0                 84   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60188  07/18/2021  03/01/2021  03/31/2021  ...        36.0                 40   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60199  07/18/2021  07/01/2020  07/31/2020  ...        28.0                 28   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60200  07/18/2021  08/01/2020  08/28/2020  ...        30.0                 30   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60203  07/18/2021  11/01/2020  11/30/2020  ...        32.0                 33   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60204  07/18/2021  12/01/2020  12/31/2020  ...        97.0                 97   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60205  07/18/2021  01/01/2021  01/31/2021  ...       123.0                127   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60206  07/18/2021  02/01/2021  02/28/2021  ...        52.0                 55   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60207  07/18/2021  03/01/2021  03/31/2021  ...        29.0                 30   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60299  07/18/2021  12/01/2020  12/31/2020  ...        44.0                 44   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60300  07/18/2021  01/01/2021  01/31/2021  ...        59.0                 59   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60313  07/18/2021  07/01/2020  07/31/2020  ...        54.0                 55   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60314  07/18/2021  08/01/2020  08/28/2020  ...        48.0                 49   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60317  07/18/2021  11/01/2020  11/30/2020  ...        34.0                 35   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60318  07/18/2021  12/01/2020  12/31/2020  ...       124.0                124   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60319  07/18/2021  01/01/2021  01/31/2021  ...       202.0                202   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60320  07/18/2021  02/01/2021  02/28/2021  ...        74.0                 74   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60321  07/18/2021  03/01/2021  03/31/2021  ...        37.0                 37   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60329  07/18/2021  04/01/2020  04/30/2020  ...        50.0                 50   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60330  07/18/2021  05/01/2020  05/31/2020  ...        52.0                 52   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60331  07/18/2021  06/01/2020  06/30/2020  ...        64.0                 64   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60332  07/18/2021  07/01/2020  07/31/2020  ...       123.0                123   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60333  07/18/2021  08/01/2020  08/28/2020  ...        94.0                 94   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60334  07/18/2021  09/01/2020  09/30/2020  ...        48.0                 48   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60335  07/18/2021  10/01/2020  10/31/2020  ...        37.0                 37   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60336  07/18/2021  11/01/2020  11/30/2020  ...        82.0                 82   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60337  07/18/2021  12/01/2020  12/31/2020  ...       368.0                368   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60338  07/18/2021  01/01/2021  01/31/2021  ...       609.0                611   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60339  07/18/2021  02/01/2021  02/28/2021  ...       260.0                261   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60340  07/18/2021  03/01/2021  03/31/2021  ...        95.0                 95   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60341  07/18/2021  04/01/2021  04/30/2021  ...        40.0                 40   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60348  07/18/2021  04/01/2020  04/30/2020  ...        92.0                 92   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag

KeyboardInterrupt: ignored

In [252]:
def outliers_z_score(data):
  threshold = 3
  mean = np.mean(data)
  std = np.std(data)
  z_scores = [(y - mean) / std for y in data]
  return np.where(np.abs(z_scores) > threshold)

print("Outliers using outlierz_z_score")
print("===============================")
for i in outliers_z_score(df3.CV19_Deaths)[0]:
  print(df3[i:i+1])
print()

Streaming output truncated to the last 5000 lines.
59193  07/18/2021  08/01/2020  08/28/2020  ...       361.0                363   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59197  07/18/2021  12/01/2020  12/31/2020  ...      1068.0              1,079   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59198  07/18/2021  01/01/2021  01/31/2021  ...      2026.0              2,061   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59199  07/18/2021  02/01/2021  02/28/2021  ...       961.0                979   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59200  07/18/2021  03/01/2021  03/31/2021  ...       288.0                293   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59211  07/18/2021  07/01/2020  07/31/2020  ...       498.0                504   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59212  07/18/2021  08/01/2020  08/28/2020  ...       505.0                510   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59213  07/18/2021  09/01/2020  09/30/2020  ...       266.0                269   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59215  07/18/2021  11/01/2020  11/30/2020  ...       297.0                301   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59216  07/18/2021  12/01/2020  12/31/2020  ...      1651.0              1,667   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59217  07/18/2021  01/01/2021  01/31/2021  ...      2836.0              2,874   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59218  07/18/2021  02/01/2021  02/28/2021  ...      1274.0              1,293   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59219  07/18/2021  03/01/2021  03/31/2021  ...       376.0                390   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59227  07/18/2021  04/01/2020  04/30/2020  ...       303.0                304   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59228  07/18/2021  05/01/2020  05/31/2020  ...       272.0                273   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59230  07/18/2021  07/01/2020  07/31/2020  ...       427.0                427   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59231  07/18/2021  08/01/2020  08/28/2020  ...       482.0                485   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59234  07/18/2021  11/01/2020  11/30/2020  ...       352.0                357   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59235  07/18/2021  12/01/2020  12/31/2020  ...      1881.0              1,891   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59236  07/18/2021  01/01/2021  01/31/2021  ...      3026.0              3,049   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59237  07/18/2021  02/01/2021  02/28/2021  ...      1100.0              1,112   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59238  07/18/2021  03/01/2021  03/31/2021  ...       303.0                310   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59246  07/18/2021  04/01/2020  04/30/2020  ...       360.0                361   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59247  07/18/2021  05/01/2020  05/31/2020  ...       364.0                364   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59249  07/18/2021  07/01/2020  07/31/2020  ...       437.0                438   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59250  07/18/2021  08/01/2020  08/28/2020  ...       453.0                457   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59251  07/18/2021  09/01/2020  09/30/2020  ...       266.0                271   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59253  07/18/2021  11/01/2020  11/30/2020  ...       326.0                329   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59254  07/18/2021  12/01/2020  12/31/2020  ...      1792.0              1,799   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59255  07/18/2021  01/01/2021  01/31/2021  ...      2520.0              2,535   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59256  07/18/2021  02/01/2021  02/28/2021  ...       851.0                856   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59407  07/18/2021  01/01/2021  01/31/2021  ...       273.0                291   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59425  07/18/2021  12/01/2020  12/31/2020  ...       295.0                310   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59426  07/18/2021  01/01/2021  01/31/2021  ...       390.0                416   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59444  07/18/2021  12/01/2020  12/31/2020  ...       291.0                305   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59445  07/18/2021  01/01/2021  01/31/2021  ...       366.0                373   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59578  07/18/2021  01/01/2021  01/31/2021  ...       412.0                412   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59596  07/18/2021  12/01/2020  12/31/2020  ...       295.0                295   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59597  07/18/2021  01/01/2021  01/31/2021  ...       472.0                472   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59598  07/18/2021  02/01/2021  02/28/2021  ...       263.0                263   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59616  07/18/2021  01/01/2021  01/31/2021  ...       334.0                334   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59748  07/18/2021  12/01/2020  12/31/2020  ...       413.0                415   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59749  07/18/2021  01/01/2021  01/31/2021  ...       680.0                684   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59750  07/18/2021  02/01/2021  02/28/2021  ...       307.0                308   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59762  07/18/2021  07/01/2020  07/31/2020  ...       307.0                313   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59763  07/18/2021  08/01/2020  08/28/2020  ...       312.0                319   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59767  07/18/2021  12/01/2020  12/31/2020  ...       875.0                888   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59768  07/18/2021  01/01/2021  01/31/2021  ...      1731.0              1,749   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59769  07/18/2021  02/01/2021  02/28/2021  ...       791.0                798   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59781  07/18/2021  07/01/2020  07/31/2020  ...       487.0                491   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59782  07/18/2021  08/01/2020  08/28/2020  ...       440.0                447   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59785  07/18/2021  11/01/2020  11/30/2020  ...       282.0                283   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59786  07/18/2021  12/01/2020  12/31/2020  ...      1421.0              1,440   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59787  07/18/2021  01/01/2021  01/31/2021  ...      2450.0              2,469   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59788  07/18/2021  02/01/2021  02/28/2021  ...      1138.0              1,156   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59789  07/18/2021  03/01/2021  03/31/2021  ...       322.0                329   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59797  07/18/2021  04/01/2020  04/30/2020  ...       275.0                279   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59800  07/18/2021  07/01/2020  07/31/2020  ...       412.0                420   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59801  07/18/2021  08/01/2020  08/28/2020  ...       453.0                469   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59804  07/18/2021  11/01/2020  11/30/2020  ...       339.0                345   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59805  07/18/2021  12/01/2020  12/31/2020  ...      1695.0              1,724   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59806  07/18/2021  01/01/2021  01/31/2021  ...      2650.0              2,691   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59807  07/18/2021  02/01/2021  02/28/2021  ...       976.0                994   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59808  07/18/2021  03/01/2021  03/31/2021  ...       268.0                277   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59816  07/18/2021  04/01/2020  04/30/2020  ...       307.0                314   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59817  07/18/2021  05/01/2020  05/31/2020  ...       277.0                283   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59819  07/18/2021  07/01/2020  07/31/2020  ...       403.0                411   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59820  07/18/2021  08/01/2020  08/28/2020  ...       399.0                402   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59823  07/18/2021  11/01/2020  11/30/2020  ...       309.0                315   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59824  07/18/2021  12/01/2020  12/31/2020  ...      1642.0              1,664   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59825  07/18/2021  01/01/2021  01/31/2021  ...      2240.0              2,259   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
59826  07/18/2021  02/01/2021  02/28/2021  ...       721.0                730   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60337  07/18/2021  12/01/2020  12/31/2020  ...       368.0                368   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60338  07/18/2021  01/01/2021  01/31/2021  ...       609.0                611   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60339  07/18/2021  02/01/2021  02/28/2021  ...       260.0                261   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60356  07/18/2021  12/01/2020  12/31/2020  ...       657.0                660   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60357  07/18/2021  01/01/2021  01/31/2021  ...      1018.0              1,023   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60358  07/18/2021  02/01/2021  02/28/2021  ...       451.0                455   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60375  07/18/2021  12/01/2020  12/31/2020  ...       808.0                811   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60376  07/18/2021  01/01/2021  01/31/2021  ...      1177.0              1,180   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60377  07/18/2021  02/01/2021  02/28/2021  ...       423.0                425   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60394  07/18/2021  12/01/2020  12/31/2020  ...       898.0                908   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60395  07/18/2021  01/01/2021  01/31/2021  ...      1232.0              1,248   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60396  07/18/2021  02/01/2021  02/28/2021  ...       386.0                387   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60546  07/18/2021  12/01/2020  12/31/2020  ...       302.0                324   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60547  07/18/2021  01/01/2021  01/31/2021  ...       417.0                444   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60565  07/18/2021  12/01/2020  12/31/2020  ...       415.0                446   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60566  07/18/2021  01/01/2021  01/31/2021  ...       545.0                586   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60584  07/18/2021  12/01/2020  12/31/2020  ...       442.0                471   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60585  07/18/2021  01/01/2021  01/31/2021  ...       576.0                613   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60698  07/18/2021  12/01/2020  12/31/2020  ...       267.0                267   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60699  07/18/2021  01/01/2021  01/31/2021  ...       380.0                380   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60717  07/18/2021  12/01/2020  12/31/2020  ...       555.0                555   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60718  07/18/2021  01/01/2021  01/31/2021  ...       897.0                897   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60719  07/18/2021  02/01/2021  02/28/2021  ...       432.0                432   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60731  07/18/2021  07/01/2020  07/31/2020  ...       296.0                296   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60736  07/18/2021  12/01/2020  12/31/2020  ...       809.0                809   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60737  07/18/2021  01/01/2021  01/31/2021  ...      1298.0              1,298   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60738  07/18/2021  02/01/2021  02/28/2021  ...       590.0                590   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60751  07/18/2021  08/01/2020  08/28/2020  ...       263.0                263   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60755  07/18/2021  12/01/2020  12/31/2020  ...       935.0                935   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60756  07/18/2021  01/01/2021  01/31/2021  ...      1493.0              1,493   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60757  07/18/2021  02/01/2021  02/28/2021  ...       498.0                498   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60769  07/18/2021  07/01/2020  07/31/2020  ...       279.0                279   NaN

[1 rows x 14 columns]
       Data As Of  Start Date    End Date  ... CV19_Deaths Number of Mentions  Flag
60770  07/18/2021  08/01/2020  08/28/2020  ...       303.0                303   NaN
